.products h1{
    padding-bottom: 80px;
    padding-top: 40px;
    padding-left: 500px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.chart{
    padding-left: 200px;
    padding-bottom: 40px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
.filter{
    display: flex;
    flex-direction: row;
    padding-bottom: 80px;
    max-width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.select_filter p{
    color: blue;
    padding-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}